@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html 
{
  scroll-behavior: smooth;
}

main
{
    min-height: 100vh;
}

nav
{
    width: 100%;
    background-color: #1f242d;
    padding: 1rem 1.2rem;
    z-index: 10;
}

.bound
{
    max-width: 1150px;
    margin: 0 auto;
}

.mainNav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a
{
    text-decoration: none;
}

.logo>a
{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 2px;
}

.links
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.links>a
{
    color: #fff;
    transition: .3s;
}

.links>a:hover
{
    color: #0ef;
    text-decoration: underline;
}

.active
{
    color: #0ef !important;
}

.sidebar
{
    display: none;
}

.sidebar>i
{
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
}

.firstSec, .secondSec, .thirdSec, .fourthSec
{
    background-color: #1f242d;
    min-height: 550px;
    padding: 0 1.2rem;
}

.myDetails
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
}

.social-links
{
    margin: 1rem 0;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: .5rem;
}

.social-links>a>i
{
    color: #0ef;
    border: 1px solid #0ef;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.social-links>a>i:hover
{
    background-color: #0ef;
    color: #1f242d;
    box-shadow: 0 0 5px 0 #0ef;
}

.button
{
    background-color: #0ef;
    color: #1f242d;
    font-weight: 500;
    padding: .5rem 1.2rem;
    border-radius: 50px;
    margin-top: 6px;
    display: inline-block;
    transition: .3s;
}

.button:hover
{
    box-shadow: 0 0 10px 0 #0ef;
}


.img img, .aboutSecImg>img
{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #0ef;
    box-shadow: 0 0 25px rgba(0, 238, 255, 0.6);
}

.secondSec, .fourthSec
{
    background-color: #323946;
}

.aboutSecImg>img
{
    box-shadow: none;
}

.mainAboutSec
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding-top: 5rem;
}

#backToTop 
{
    position: fixed;
    right: 25px;
    bottom: 25px;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background: #0ef;
    color: #000;
    font-size: 18px;
    cursor: pointer;
    display: none;
    z-index: 999;
    transition: .3s;
}

#backToTop:hover 
{
    box-shadow: 0 0 10px 0 #0ef;
}

.heading
{
    text-align: center;
    color: whitesmoke;
    font-size: 2rem;
}

.border
{
    border-bottom: 1px dashed #9c9c9c;
    max-width: 200px;
    margin: 0 auto;
}

.timeline
{
    max-width: 900px;
    margin: 0 auto;
    margin-top: 1.7rem;                                                                     
    position: relative;
    z-index: 1;
}

.timeline::after
{
    content: '';
    position: absolute;
    top: 0; left: 50%;
    background-color: whitesmoke;
    width: 2px; 
    height: 100%;
    z-index: -1;
}

.container
{
    width: 50%;
    padding: 1rem;
    position: relative;
}

.box
{
    text-align: right;
    padding: 16px;
    border: 1px solid #0ef;
}

.box>h3
{
    color: #0ef;
    margin-bottom: .35rem;
}

.box>h5
{
    color: whitesmoke;
}

.box>p
{
    color: #cfcfcf;
    margin-top: 4px;
}

.box>p>b
{
    color: #0ef;
}

.circle
{
    position: absolute;
    top: 0px;
    right: -14px;
    width: 27px;
    height: 27px;
    background-color: #0ef;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.right-container
{
    left: 50%;
}

.right-container>.box
{
    text-align: left;
}

.right-container>.circle
{
    top: 0px;
    left: -14px;
}

.mainReadMoreSec, .mainServiceSec
{
    padding: 2.5rem 0;
}

.card-section
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 3rem;
}

.card
{
    background-color: #1f242d;
    padding: 1rem 1rem 1.5rem 1rem;
    text-align: center;
    border-radius: 10px;
    transition: .3s;
    border: 1px solid transparent;
}

.logo
{
    color: #0ef;
    font-size: 2.5rem;
    margin-bottom: 0.7rem;
}

.card>h3
{
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.card>p
{
    color: #cfcfcf;
    font-size: 15px;
}

.card:hover
{
    border: 1px solid #0ef;
    box-shadow: 0 0 10px 0 #0ef;
    cursor: pointer;
}
